@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  background-color: rgba(0, 0, 0, 0.1) !important
}
.css-pdct74-MuiTablePagination-selectLabel {
  margin-bottom: 0;
}
.css-levciy-MuiTablePagination-displayedRows {
  margin-bottom: 0;
}

/* @layer components {
  .hello {
    @apply m-0
  }
} */
